[submodule "deps/gtest"]
	path = deps/gtest
	url = git://github.com/cpp-netlib/gtest
[submodule "uri"]
	path = uri
	url = git://github.com/cpp-netlib/uri
[submodule "deps/gmock"]
	path = deps/gmock
	url = git://github.com/cpp-netlib/gmock
