[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest.git
[submodule "deps/googlemock"]
	path = deps/googlemock
	url = https://github.com/google/googlemock.git
[submodule "libs/network/doc/_ext/breathe"]
	path = libs/network/doc/_ext/breathe
	url = https://github.com/michaeljones/breathe.git
[submodule "deps/cxxopts"]
	path = deps/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
